/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(29, 26, 80);
    color: #fff;
}


header {
    background: rgb(2, 1, 20);
    padding: 10px 50px;
}
.image-container {
    display: flex;
}
.image-container img{
    width: 100%;
}
#logo {
    width: 90px;
}
#logo img {
    border-radius: 100%;
    border: 2px solid #fff;
}

#hero {
    position: relative;
}

#hero #computadora {
    display: inline-block;
    width: 100%;    
}
#hero .informacion-contenedor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: white;
    padding: 0  50px;
}

#hero .informacion-contenedor{
    width: 600px;

}

#hero .informacion-contenedor #foto{
    width: 600px;
}

#hero .informacion-contenedor #foto img {
    border-radius: 100%;   
}

#hero .informacion-contenedor .informacion{
    margin-left:  20px;
    font-weight: bold;
    width:  calc(100% - 200px);

}
#hero .informacion-contenedor .informacion span {
    display:  inline-block;
    color: white;
    margin-bottom:  70px;
}

main img{
    padding: 10%;
    width: 50px;
}

main .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}
main .social-contacts li {
    margin-left: 8px;
}
main .social-contacts .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width:  10%;
    height: 10%;
}

main .social-icon #link {
    background-color: #0077b0;
}

main .social-icon #insta {
    background-color: red;
}

main .social-icon #facebook {
    background-color: #0077b0;
}
main .social-icon #git {
    background-color: #23272d;
}
